.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0.1rem 2rem;
  text-align: center;
  border-radius: var(--border-radius);
}

.hero-content h1 {
  font-size: 2.5rem;
  margin: 1rem 1rem;
}

.hero-content {
  font-size: 1.2rem;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1rem;
  justify-content: center;
}
.search-bar-container-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 10px;
}
.search-bar-container input {
  background-color: #ffe4e9;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
}
.search-bar-container select {
  background-color: #ffe4e9;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.filter-reset-btn {
  background-color: #ffe4e9;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.filter-reset-btn:hover {
  background-color: #e47883;
  color: white;
  transition: 0.2s;
}

.add-recipe-button {
  background-color: #e47883;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 120px;
  position: fixed;
}

.add-recipe-button:hover {
  background-color: #e4667d;
  transform: scale(1.15);
  transition: 0.2s;
}
.add-recipe-button i {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-recipe-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-recipe-modal-content {
  padding: 2rem;
  border-radius: var(--border-radius);
  width: 400px;
  background-color: var(--light-bg);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1001;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .main-content {
    margin: 0;
    padding: 10px;
  }

  .add-recipe-button {
    bottom: 150px;
    right: 10px;
  }

  .add-recipe-modal-content {
    width: 80vw;
  }
  .search-bar-container {
    flex-direction: column;
    margin-top: 5px;
  }
  .search-bar-container-row {
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
    width: 100%;
    margin-top: 5px;
  }
  .search-bar-container select {
    padding: 0.2rem;
  }
}
